REDSHIFT_HOST=your-cluster.xxxx.us-east-1.redshift.amazonaws.com
REDSHIFT_PORT=5439
REDSHIFT_DB=your_database
REDSHIFT_USER=your_user
REDSHIFT_PASSWORD=your_password
# Schema donde están las tablas que creamos (precio_productos, promociones, etc.)
REDSHIFT_SCHEMA=mcd

# Schema de las tablas fuente (fact_ventas, dim_articulo_venta, dim_restaurantes)
STG_SCHEMA=stg

# Tabla de forecast con schema incluido
FORECAST_TABLE=stg.forecast
